{% extends 'main/base.html' %}
{% block title %} Account details {% endblock %}
{% load static %}

{% block content %}
    <section>
        <div class="row">
            <div class="card mb-4"
                 style="background:transparent!important; !important; color: white!important;">
                <div class="card-body text-center">
                    <img src="{% static 'images/user_icon.png' %}"
                         class="rounded-circle img-fluid" style="width: 150px;"/>
                    <h5 class="my-3">Nickname: {{ user.username }}</h5>
                    <p class="text-muted mb-1" style="color: white!important;">name: {{ user.first_name }}</p>
                    <p class="text-muted mb-4" style="color: white!important;">surname: {{ user.last_name }}</p>
                </div>
            </div>
            <div class="card-header card text-center" style="color: white!important;">
                <h3>Account details</h3>
            </div>

            <div class="card mb-4"
                 style="background:transparent!important;color: white!important;">
                <div class="card-body" style="color: white!important;">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"
                               style="color: white!important;">{{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" style="color: white!important;">{{ user.email }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Main subject</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"
                               style="color: white!important;">{{ tutor.primary_subject }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Secondary subject</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"
                               style="color: white!important;">{{ tutor.secondary_subject }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Availability</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" style="color: white!important;">{{ tutor.availability }}
                                hours per week</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-header card text-center" style="color: white!important;">
                <h3>Students</h3>
            </div>
        </div>
        {% block mentees %}
            {% for mentee in mentees %}
                {% if user == mentee.tutor %}

                    <div class="card" style="background: transparent!important;color: white!important;">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-3">
                                    <h3 class="card-title">Student:</h3>
                                </div>
                                <div class="col-sm-3">
                                    <h3 class="text-muted " style="color: white!important;">
                                        {{ mentee.name_surname }}</h3>
                                </div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h5 class="card-title">Price:</h5>
                                </div>
                                <div class="col-sm-3">
                                    <p class="text-muted mb-0" style="color: white!important;">{{ mentee.price }} zl
                                        per
                                        hour </p>
                                </div>

                            </div>
                            <hr>

                            <div class="row" style="margin-top: 10px">
                                <div class="col-sm-3">
                                    <h5 class="card-title">Some information:</h5>
                                </div>
                                <div class="col-sm-3">
                                    <p class="text-muted mb-0" style="color: white!important">{{ mentee.info }}</p>
                                </div>

                            </div>
                            <hr>

                            <div class="row" style="margin-top: 10px">
                                <div class="col-sm-3">
                                    <h5 class="card-title">Lesson begins:</h5>
                                </div>
                                <div class="col-sm-3">
                                    <p class="text-muted mb-0" style="color: white!important;">
                                        {{ mentee.starting_date }} {{ mentee.starting_time }}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row" style="margin-top: 10px">
                                <div class="col-sm-3">
                                    <h5 class="card-title">Lesson duration:</h5>
                                </div>
                                <div class="col-sm-3">
                                    <p class="text-muted mb-0"
                                       style="color: white!important;">{{ mentee.duration }}</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <form method="POST" class="form" style="margin-top: 10px">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="mentee_id" value="{{ mentee.id }}"> Delete
                            mentee
                        </button>
                    </form>
                    <hr class="text-danger border-3 opacity-100">

                {% endif %}

            {% endfor %}
        {% endblock mentees %}
    </section>
{% endblock %}